:root {
    width: 100%;
    height: 100%;
    background-color: #8f4aff;
}

html {
    background-color: #8f4aff;
    font-family: sans-serif;
}

/* Safari 15.1+ has a bug where the overscroll-behavior property is not working as expected when
  combined with ScrollSmoother. This is a temporary fix for the issue.
 */
@supports (hanging-punctuation: first) and (font: -apple-system-body) and (-webkit-appearance: none) {
    html:has(.single-products) {
        overscroll-behavior: auto !important;
    }
}

body {
    background-color: #8f4aff;
    font-family: sans-serif;
}

.FullScreenContainer {
    background-color: #8f4aff;
    font-family: sans-serif;
}

.SvgFillContainer {
    width: 100%;
    height: auto;
    overflow: visible;
}

.App {
    /* Dark */
    --dark-background: #8f4aff;
    --dark-foreground: #FFFFFF;
    --dark-ltbackground: #FFFFFF0D;
    --dark-ltltbackground: #FFFFFF26;
    --dark-border: #191919;
    /* Light */
    --light-background: #FFFFFF;
    --light-ltbackground: #D3F0FF;
    --light-graybackground: #F3F3F3;
    --light-foreground: #191919;
    --light-ltforeground: #7F42E1;
    --light-ltltforeground: #8f4aff;
    --light-border: #191919;
    --light-gray-foreground: #949494;

    --arc0: max(min(0.5vh, 0.5vw), 5px);
    --arc1: max(min(1vh, 1vw), 10px);
    --arc2: max(min(3vh, 3vw), 30px);

    width: 100%;
    height: 100%;
    container: App / inline-size;
}

.fullscreen-enabled {
    overflow: auto;
    height: 100vh;
}
