.GameInfoTable {
    border-width: 2px;
    border-color: var(--light-border);
    border-style: solid;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.GameInfoTable > thead > tr > th {
    padding: 0.5em;
    border-width: 1px;
    border-color: var(--light-border);
    border-style: solid;
    font-weight: bold;
}

.GameInfoTable > tbody > tr > th:first-child {
    padding: 0.5em;
    border-width: 1px;
    border-color: var(--light-border);
    border-style: solid;
    font-weight: bold;
}

.GameInfoTable > tbody > tr > td {
    padding: 0.5em;
    border-width: 1px;
    border-color: var(--light-border);
    border-style: solid;
    font-weight: normal;
    text-align: right;
}
