.GameTable {
    margin: 0.2em;
    display: grid;
    grid-template-columns: 4fr 4fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
}

.GameTableColHeader {
    border-radius: 10px 10px 0 0;
    corner-shape: superellipse(1.6);
    display: flex;
    flex-flow: column nowrap;
    row-gap: 5px;
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
    justify-items: center;
    color: var(--dark-foreground);
}

.GameTableColHeaderOdd {
    background-color: var(--dark-background);
}

.GameTableColHeaderEven {
    background-color: var(--dark-ltbackground);
}

.GameTableColHeaderCaption {
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
}

.GameTableColHeaderCounterBlock {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.GameTableColCounter {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    corner-shape: superellipse(1.6);
    opacity: 1;
    background-color: var(--light-foreground);
    color: var(--dark-foreground);
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-items: center;
    justify-items: center;
}

.GameTableColData {
}

.GameTableColDrop {
    width: 100%;
    min-height: max(300px, 75vh);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    corner-shape: superellipse(1.6);
}

.GameTableColDrop:has(div.GameTableColEmpty) {
    border-style: dashed;
    border-width: 2px;
    border-color: var(--dark-foreground);
}

.GameTableColDropReady {
    background-color: var(--dark-ltltbackground);
    border-radius: 20px;
    corner-shape: superellipse(1.6);
    border-style: dashed;
    border-width: 2px;
    border-color: var(--dark-foreground);
}

.GameTableColEmpty {
    justify-content: center;
    align-content: center;
    margin: 50px 20px;
    display: grid;
    gap: 20px;
    color: var(--dark-foreground);
}

.GameTableColEmptyText {
    text-align: center;
    margin-bottom: 30px;
}

.GameTableColEmptyCard {
    width: 24px;
    height: 30px;
    opacity: 1;
    border-radius: 4px;
    corner-shape: superellipse(1.6);
    padding: 9px;
    color: var(--light-ltforeground);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-items: center;
    justify-items: center;
}

.GameTableColEmptyCard1 {
    background-color: #FFFFFFCC;
}

.GameTableColEmptyCard2 {
    background-color: #FFFFFF99;
}

.GameTableColEmptyCard3 {
    background-color: #FFFFFF66;
}

.GameTableColEmptyCard4 {
    background-color: #FFFFFF33;
}

.GameTableColTasks {
    border-radius: 0 0 10px 10px;
    corner-shape: superellipse(1.6);
    display: inline-block;
    row-gap: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    min-height: 200px;
    justify-items: center;
    overflow-y: auto;
    overflow-x: clip;
    max-height: 80vh;
    scrollbar-color: #000000 #ffffff;
}

@media (hover: none) {
    .GameTableColTasks {
        padding-right: 30px;
    }
}

.GameTableColContainer {
    width: 100%;
}

.GameTableColTasksOdd {
    background-color: var(--dark-background);
}

.GameTableColTasksEven {
    background-color: var(--dark-ltbackground);
}

@container GameRunner (width < 130em) {
    .GameTableColHideable {
        display: none !important;
    }

    .GameTable {
        grid-template-columns: 1fr 1fr;
    }

}
