.HeaderBlock {
    position: fixed;
    top: 0;
    right: 0;
    padding: var(--arc1);
    background-color: var(--light-background);
    color: var(--light-foreground);
    border-radius: var(--arc1);
    corner-shape: superellipse(1.6);
    margin: var(--arc1);
    display: grid;
    justify-content: stretch;
    grid-template-columns: 1fr;
}

.ScreenImg {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.ModalConfig {
    background-color: var(--light-graybackground);
    color: var(--light-foreground);
    display: flex;
    flex-flow: column nowrap;
    padding: 1em;
}

.ModalConfigOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000088;
    container: ModalConfigOverlay / inline-size;
    display: flex;
}

@container ModalConfigOverlay (width < 400px) {
    .ModalConfig {
        width: 100vw;
        height: 5em;
        border-radius: var(--arc1);
        corner-shape: superellipse(1.6);
        align-self: flex-end;
    }
}

@container ModalConfigOverlay (width >= 400px) {
    .ModalConfig {
        position: fixed;
        z-index: 10000;
        top: var(--arc2);
        right: var(--arc2);
        width: 20em;
        height: 5em;
        border-radius: var(--arc1);
        corner-shape: superellipse(1.6);
    }
}

.ConfigLabel {
    height: 2em;
    margin: 0.2em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.ConfigLabelSwitch {
    vertical-align: middle;
    margin-left: 4px;
    height: 2em;
    align-self: flex-end;
}
