.RulesBlock {
    background-color: var(--light-background);
    color: var(--light-foreground);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 80vw;
    max-width: 1440px;
    padding: var(--arc2);
    border-radius: var(--arc2);
    corner-shape: superellipse(1.6);
    font-family: sans-serif;
}

@container App (width < 1100px) {
    .RulesBlock {
        width: 94vw;
        padding: var(--arc1);
        border-radius: var(--arc1);
        corner-shape: superellipse(1.6);
    }
}

.RulesInnerBlockContextHeaderBlock {
    padding: 0 var(--arc2);
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    width: stretch;
    container: RulesInnerBlockContextHeaderBlock / inline-size;
}

.RulesInnerBlockContextHeaderKeyboard {
    height: 13vh;
    align-self: flex-start;
    max-width: 150px;
}

.LeaderBoardBlockContextHeaderTarget {
    max-width: 200px;
    height: 13vh;
    align-self: flex-end;
    display: flex;
    overflow: visible;
}

.RulesInnerBlockContextHeader {
    padding: 0 var(--arc2);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

@container GameRunner  (width < 600px) {

    .RulesInnerBlockContextHeaderBlock {
        padding: 0 var(--arc1);
        grid-template-columns: 1fr;
    }

    .RulesInnerBlockContextHeaderKeyboard {
        display: none !important;
    }

    .RulesInnerBlockContextHeader {
        padding: 0;
    }

    .LeaderBoardBlockContextHeaderTarget {
        display: none !important;
    }
}

.RulesInnerBlockContextHeaderCaption {
    margin-bottom: var(--arc1);
    display: grid;
    justify-content: stretch;
    font-size: xxx-large;
    font-weight: bold;
}


.RulesInnerBlockContextHeaderText3 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: large;
}

.RulesInnerBlockContextBlock {
    margin-left: min(var(--arc1), 2vw);
    margin-right: min(var(--arc1), 2vw);

}

.RulesInnerBlockContextBlockTitle {
    padding-top: 0.5em;
    font-size: xx-large;
    font-weight: bold;
}

.RulesInnerBlockContextBlockText {
    font-size: medium;
}

.RulesButton {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--light-foreground);
    color: var(--dark-foreground);
    padding: var(--arc1) calc(var(--arc1) * 4);
    border-radius: var(--arc1);
    corner-shape: superellipse(1.6);
    display: grid;
    place-items: center;
    cursor: pointer;
}

.RulesButtonReturnLink {
    text-decoration: none;
}

.RulesButtonReturn {
    margin-top: var(--arc1);
    margin-left: auto;
    margin-right: auto;
    background-color: var(--light-graybackground);
    color: var(--light-foreground);
    padding: var(--arc1) calc(var(--arc1) * 4);
    border-radius: var(--arc1);
    corner-shape: superellipse(1.6);
    display: grid;
    place-items: center;
    cursor: pointer;
}

