.Text-ABC-Gravity-M {
    font-family: ABC Gravity Compressed Cyrillic;
    font-size: medium;
    line-height: 90%;
    letter-spacing: 2%;
}

.Text-ABC-Gravity-L {
    font-family: ABC Gravity Compressed Cyrillic;
    font-size: large;
    line-height: 90%;
    letter-spacing: 2%;
}

.Text-ABC-Gravity-XL {
    font-family: ABC Gravity Compressed Cyrillic;
    font-size: x-large;
    line-height: 90%;
    letter-spacing: 2%;
}

.Text-ABC-Gravity-XXL {
    font-family: ABC Gravity Compressed Cyrillic;
    font-size: xx-large;
    line-height: 90%;
    letter-spacing: 2%;
}

.Text-ABC-Gravity-XXXL {
    font-family: ABC Gravity Compressed Cyrillic;
    font-size: xxx-large;
    line-height: 90%;
    letter-spacing: 2%;
}

.Text-Tochka-Script-XXXL {
    font-family: Tochka Script;
    font-size: 7vh;
    line-height: 85%;
    letter-spacing: -2%;
}

.Text-TT-Norms-Tochka-Extended-L {
    font-family: TT Norms Tochka Extended;
    font-size: large;
}

.Text-TT-Norms-Tochka-Extended-M {
    font-family: "TT Norms Tochka Extended";
    font-size: medium;
}

.Text-TT-Norms-Tochka-Extended-S {
    font-family: "TT Norms Tochka Extended";
    font-size: small;
}

.Text-TT-Norms-Tochka-Extended-DemiBold-XXL {
    font-family: "TT Norms Tochka Extended DemiBold";
    font-size: xx-large;
}

.Text-TT-Norms-Tochka-Extended-DemiBold-XL {
    font-family: "TT Norms Tochka Extended DemiBold";
    font-size: x-large;
}

.Text-TT-Norms-Tochka-Extended-Medium-L {
    font-family: "TT Norms Tochka Extended Medium";
    font-size: large;
}

.Text-TT-Norms-Tochka-Extended-Medium-XL {
    font-family: "TT Norms Tochka Extended Medium";
    font-size: x-large;
}

.Text-TT-Norms-Tochka-Extended-Medium-M {
    font-family: "TT Norms Tochka Extended Medium";
    font-size: medium;
}

